<h3>{{sourceLang | uppercase}} &rarr; {{destLang | uppercase}} Multiple choice</h3>

<div class="currentWord {{answerClass}}">{{ currentWord }}</div>
<div>
    <form name="testForm">
        <label ng-repeat="choice in choices track by $index">
            <input type="radio" ng-model="model.answer" value="{{choice}}">
            {{choice}}<br/>
        </label>
    </form>
</div>
<button ng-click="checkWord()">Controleer</button>
<button ng-show="answerClass === 'correct'" focus-on="nextWord" ng-click="nextWord()">Volgende</button>
<button ng-show="answerClass === 'incorrect'" focus-on="nextWord" ng-click="nextWord()">Overslaan</button>

<div class="statistics">
    <b>Tot nu toe gedaan:</b><br/>
    Aantal goed: {{nrOfCorrect}}<br/>
    Aantal fout: {{nrOfIncorrect}}<br/>
</div>
