/* app css stylesheet */

body {
    margin: 10px;
}

.statistics {
    border: solid 1px black;
    padding: 10px;
    width: 300px;
}

.header {
    background-color: lightblue;
    margin: -10px;
    padding: 1px 0px 0px 10px;
}

thead {
    background-color: lightblue;
}

td {
    border: solid 1px black;
    font-size: 12px;
    padding: 7px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

input, button {
    margin-top: 5px;
}

input[type=text] {
    height: 21px;
    width: 200px;
}

.currentWord {
    border: solid 1px black;
    font-size: 20px;
    padding: 5px;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

a button {
    text-decoration: none;
    color: black;
}

.copyright {
    padding-top: 15px;
    font-size: x-small;
}