<h3>Woordenlijst: {{currentListName}}</h3>

<div>
    <div style="float: left; margin-right: 10px;">
        <form name="wordForm">
            <input type="text" ng-model="model.dutch" focus-on="newWord" placeholder="nederlands"/><br/>
            <input type="text" ng-model="model.english" placeholder="engels"/>
        </form>
        <button ng-click="addWord()">Voeg woord toe</button>
    </div>

    <div style="float: right">
        <input type="text" ng-model="model.listName" placeholder="nieuwe lijst naam"/>
        <button ng-click="createList()">Maak nieuwe lijst</button>
        <br/><br/>
        Bestaande lijsten:<br/>
        <span ng-repeat="listName in listNames"><button ng-click="loadList(listName)">{{listName}}</button><br/></span>
    </div>

    <div>
        <table>
            <thead>
            <tr>
                <td>English</td>
                <td>Nederlands</td>
                <td>
                    <button ng-click="toggleRemove()">X</button>
                </td>
            </tr>
            </thead>
            <tr ng-repeat="word in words | orderBy:'-created'">
                <td>{{word.en}}</td>
                <td>{{word.nl}}</td>
                <td>
                    <button ng-show="deleteEnabled" ng-click="removeWord(word)">x</button>
                </td>
            </tr>
        </table>
    </div>
</div>