<h3>{{sourceLang | uppercase}} &rarr; {{destLang | uppercase}}</h3>

<div class="currentWord {{answerClass}}">{{ currentWord }}</div>
<div>
    <form name="testForm">
        <input type="text" ng-model="model.answer" focus-on="newWord" placeholder="wat is je antwoord?"/> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <span ng-show="answerClass === 'incorrect'"><button ng-click="showActualAnswer()">Toon antwoord</button> <input type="text" ng-model="model.actualAnswer" placeholder="*******"/></span>
    </form>
</div>
<button ng-click="checkWord()">Controleer</button>
<button ng-show="answerClass === 'correct'" focus-on="nextWord" ng-click="nextWord()">Volgende</button>
<button ng-show="answerClass === 'incorrect'" focus-on="nextWord" ng-click="nextWord()">Overslaan</button>

<div class="statistics">
    <b>Tot nu toe gedaan:</b><br/>
    Aantal goed: {{nrOfCorrect}}<br/>
    Aantal fout: {{nrOfIncorrect}}<br/>
</div>
